.useState,
.useReducer{
    text-align: center;
    display: flex;
    flex-flow: column wrap;

}
.useState{
    padding-bottom: 60px;
    border-bottom: 1px solid black;
}
.inputContainer{
    padding-top: 20px;
}