.useState,
.useReducer{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.useState{
    padding-bottom: 60px;

   
}
.inputContainer{
    padding-top: 20px;
}